{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................................................................................... #}
    {% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................................................................................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{% block bodyStart %} 
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
{% endblock %}  
{% block content %} 
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="{{path('login_check')}}" method="POST">
              <div>
                <input type="text" id="username" class="form-control" placeholder="Nick de Usuario" name="_username"
              value="{% if last_username is defined %}{{ last_username }}{% endif %}" required="" />
              </div>
              <div>
                <input type="password" id="password" class="form-control" placeholder="Contraseña de acceso" name="_password" required="" />
              </div>
              <div>
                <input type="submit" value="Entrar" class="btn btn-default submit" />
                {# Mediante el input Type="hidden" definimos el nombre del "target_path" al que nos
                queremos dirigir después de enviar el formulario #}
                <input type="hidden" name="_target_path" value="{{ path('homepage') }}" />
                <a class="reset_pass" href="#">Olvidaste tu Password?</a>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
{% endblock %}
{% block footerContent %}{% endblock %}

